<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.twt.rehuixiangshudong.mapper.JournalMapper">
    <update id="modifyJournal">
        update JOURNALS
        <trim prefix="set" suffixOverrides=",">
            <if test="location != null">location = #{location},</if>
            <if test="journalTitle != null">journal_title = #{journalTitle},</if>
            <if test="journalText != null">journal_text = #{journalText},</if>
            <if test="topJournal != null">top_journal = #{topJournal},</if>
            <if test="journalGroupIdAt != null">journal_group_id_at = #{journalGroupIdAt},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where user_id_at = #{userIdAt} and is_deleted = 0
    </update>
    <select id="getJournalsByUid" resultType="edu.twt.rehuixiangshudong.zoo.vo.JournalVO">
        select journal_id,journal_title,created_at,modified_at,location,shared_count,
               journal_group_id_at,journal_text,top_journal from journals
        <where>
            user_id_at = #{userIdAt} and is_deleted = 0
#             range为0具体到天 1具体到月 2具体到年
            <if test="journalTitle != null and journalTitle != ''">
                and journal_title like concat('%',#{journalTitle},'%')
            </if>
            <if test="range == 0 and date != null and date != ''">
                and DATE(created_at) = #{date}
            </if>
            <if test="range == 1 and date != null and date != ''">
                and MONTH(created_at) = #{date} and YEAR(created_at) = #{year}
            </if>
            <if test="range == 2 and date != null and date != ''">
                and YEAR(created_at) = #{date}
            </if>
        </where>
        ORDER BY top_journal DESC , created_at DESC
    </select>
</mapper>